/* Gunakan :host untuk menargetkan elemen host dari komponen itu sendiri */
:host ion-header {
  background: #857afe;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  --box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;

  // padding-top: env(safe-area-inset-top, 0px);
}

ion-toolbar {
  --background: transparent;
  --padding-start: 0;
  --padding-end: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  --box-shadow: none;
}

ion-toolbar ion-buttons[slot="start"] img.logo {
  width: 100px;
  display: block;
  margin-top: 6px;
}

ion-button.btn-logout {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-transform: none;
  --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  --background: linear-gradient(135deg, #9763f7 75%, #dfd0fb);
  --color: #ffffff;
  --padding-top: 0.5rem;
  --padding-bottom: 0.5rem;
  --padding-start: 0.75rem;
  --padding-end: 0.75rem;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.user-info > div {
  position: relative;
  width: max-content;
}

.user-info h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
}

.user-info p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #f3eaff;
  margin: 0;
  position: relative;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-icon {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.notification-icon ion-icon {
  font-size: 30px;
}

.notif-badge {
  position: absolute;
  top: -2px;
  right: -4px;
  font-size: 0.6rem;
  border-radius: 50%;
  padding: 0.2em 0.4em;
  height: auto;
  min-width: auto;
  z-index: 10;
}
