<ion-content class="home-page" fullscreen>
  <!-- Background -->
  <img src="assets/home-background.svg" class="bg-gradient" alt="background" />

  <!-- Ilustrasi -->
  <div class="illustration">
    <img src="assets/home-illustration.svg" alt="Ilustrasi" />
  </div>

  <!-- Teks -->
  <div class="tagline">
    <h1>
      Let Your<br />
      Finance<br />
      Flow With<br />
      You
    </h1>
  </div>

  <!-- Tombol -->
  <div class="bottom-sheet">
    <div class="button-group">
      <ion-button
        routerLink="/register"
        class="btn-daftar"
        shape="round"
        expand="block"
        >Daftar</ion-button
      >
      <ion-button
        routerLink="/login"
        class="btn-masuk"
        shape="round"
        expand="block"
        >Masuk</ion-button
      >
    </div>
  </div>
</ion-content>
