<!-- Header -->
<app-header></app-header>

<!-- Title Section -->
<div class="title-section">
  <div class="btn-title">Detail Pinjaman</div>
</div>

<div class="back-button-container">
  <ion-button class="back-button" (click)="goBack()" fill="clear" size="small">
    <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
  </ion-button>
</div>

<ion-content class="loan-details-page" fullscreen>
  <!-- Content Section -->
  <div class="content-section">
    <div class="loan-detail-card">
      <div class="detail-item">
        <span class="label">Jumlah Pinjaman:</span>
        <span class="value">Rp500.000</span>
      </div>

      <div class="detail-item">
        <span class="label">Tanggal Pengajuan:</span>
        <div class="date-value">
          <span class="main-date">1 Mei 2025</span>
          <span class="time">08:12:12</span>
        </div>
      </div>

      <div class="detail-item">
        <span class="label">Jangka Waktu:</span>
        <span class="value">3 Bulan</span>
      </div>

      <div class="detail-item">
        <span class="label">Status Pengajuan:</span>
        <div class="status-badge approved">Disetujui</div>
      </div>
    </div>
  </div>
</ion-content>
