.savings-page {
  --ion-background-color: #ffffff;
  overflow: hidden;
}

.content-section {
  background-color: #ffffff;
  padding: 0 1rem 0;
  position: relative;
  z-index: 1;
  overflow: visible;

  &::before {
    content: "";
    position: absolute;
    top: 40px;
    bottom: -999px;
    left: 0;
    right: 0;
    background: #f2ebff;
    z-index: -1;
  }

  h3 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #646464;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .content-wrapper {
    margin-top: 2rem;
  }
}

.card {
  background: url("/../../assets/background-card-savings.svg"),
    linear-gradient(
      157deg,
      rgba(135, 104, 204, 1) 0%,
      rgba(179, 79, 250, 1) 100%
    );
  color: white;
  border-radius: 14px;
  padding: 1rem 1rem 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.card-left {
  flex: 1;
}

.card-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-left h4 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  margin: 0;
  font-size: 16px;
  white-space: nowrap;
}

.card-left p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.date-container p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #f0e9ff;
}

.card-right .date-container {
  text-align: center;
}

.amount-container p {
  margin-top: 34px;
  font-size: 16px;
  font-weight: bold;
}

.amount {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: white;
}