<ion-content class="savings-page" fullscreen>
  <!-- Header -->
  <app-header
    [userName]="'John'"
    [userRole]="'Member'"
    [notificationCount]="1"
  ></app-header>

  <div class="content-section">
    <h3>Detail Simpanan</h3>

    <div class="content-wrapper">
      <!-- Savings Cards -->
      <div class="card">
        <div class="card-content">
          <div class="card-left">
            <h4>Simpanan Wajib</h4>
            <p>Total saldo:</p>
            <div class="date-container">
              <p>
                Tanggal dan waktu<br />
                terakhir<br />
                penyetoran:
              </p>
            </div>
          </div>
          <div class="card-right">
            <div class="amount-container">
              <p><span class="amount">Rp10.000.000,00</span></p>
            </div>
            <div class="date-container">
              <p>
                1 April 2025<br />
                15:35:02
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="card-left">
            <h4>Simpanan Pokok</h4>
            <p>Total saldo:</p>
            <div class="date-container">
              <p>
                Tanggal dan waktu<br />
                terakhir<br />
                penyetoran:
              </p>
            </div>
          </div>
          <div class="card-right">
            <div class="amount-container">
              <p><span class="amount">Rp10.000.000,00</span></p>
            </div>
            <div class="date-container">
              <p>
                1 April 2025<br />
                15:35:02
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="card-left">
            <h4>Simpanan Sukarela</h4>
            <p>Total saldo:</p>
            <div class="date-container">
              <p>
                Tanggal dan waktu<br />
                terakhir<br />
                penyetoran:
              </p>
            </div>
          </div>
          <div class="card-right">
            <div class="amount-container">
              <p><span class="amount">Rp10.000.000,00</span></p>
            </div>
            <div class="date-container">
              <p>
                1 April 2025<br />
                15:35:02
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
