<ion-content class="background" fullscreen="True">
  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
  <div class="circle circle1b"></div>
  <div class="circle circle2b"></div>

  <!-- Tombol Kembali -->
  <ion-button fill="clear" class="back-button" routerLink="/login">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>

  <div class="login-container">
    <div class="login-box">
      <!-- Hubungkan form dengan FormGroup -->
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="handleResetPassword()">
        <ion-item>
          <!-- Ganti label dan hubungkan dengan formControlName -->
          <ion-input
            label="Email"
            labelPlacement="floating"
            placeholder="Masukkan alamat email Anda"
            formControlName="email"
            type="email"
            class="username-input"
          ></ion-input>
        </ion-item>

        <!-- Tombol -->
        <div class="button-group">
          <!-- Tombol sekarang menjadi type="submit" dan dinonaktifkan jika form tidak valid -->
          <ion-button
            class="btn-masuk"
            shape="round"
            expand="block"
            type="submit"
            >Reset Password</ion-button
          >
        </div>
      </form>
    </div>
  </div>

  <!-- Modal Konfirmasi -->
  <div
    class="verification-overlay"
    [ngClass]="{'show-overlay': showPasswordResetConfirm}"
    (click)="showPasswordResetConfirm = false"
  >
    <div class="verification-modal" (click)="$event.stopPropagation()">
      <div class="verification-icon">
        <ion-icon name="mail-open-outline"></ion-icon>
      </div>
      <h2>
        Link untuk mengatur ulang kata sandi telah dikirim ke email Anda.
        Silakan periksa kotak masuk dan folder spam/junk.
      </h2>
      <div class="modal-action-button-container">
        <ion-button
          shape="round"
          class="btn-modal-ok"
          (click)="showPasswordResetConfirm = false"
        >
          Mengerti
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
