<ion-content
  class="background"
  fullscreen="True"
  scrollEvents="false"
  [scrollY]="false"
>
  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
  <div class="circle circle1b"></div>
  <div class="circle circle2b"></div>

  <!-- Back Button keluar dari login-container -->
  <ion-button fill="clear" class="back-button" routerLink="/home">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>

  <!-- Baru ini untuk center box -->
  <div class="login-container">
    <div class="login-box">
      <form>
        <ion-item>
          <ion-input
            label="Username/NIK"
            labelPlacement="floating"
            placeholder="Masukkan Username/NIK"
            class="username-input"
          ></ion-input>
        </ion-item>

        <!-- Tombol -->
        <div class="button-group">
          <ion-button
            class="btn-masuk"
            shape="round"
            expand="block"
            type="submit"
            (click)="handleResetPassword()"
            >Reset Password</ion-button
          >
        </div>
      </form>
    </div>
  </div>

  <div
    class="verification-overlay"
    [ngClass]="{'show-overlay': showPasswordResetConfirm}"
    (click)="showPasswordResetConfirm = false"
  >
    <div class="verification-modal" (click)="$event.stopPropagation()">
      <div class="verification-icon">
        <ion-icon name="mail-open-outline"></ion-icon>
      </div>
      <h2>
        Link untuk mengatur ulang kata sandi telah dikirim ke email Anda.
        Silakan periksa kotak masuk dan folder spam/junk.
      </h2>

      <div class="modal-action-button-container">
        <ion-button
          shape="round"
          class="btn-modal-ok"
          (click)="showPasswordResetConfirm = false"
        >
          Mengerti
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
