<ion-content class="background" fullscreen="True" scrollEvents="false" [scrollY]="false">

  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
  <div class="circle circle1b"></div>
  <div class="circle circle2b"></div>

  <!-- Back Button keluar dari login-container -->
  <ion-button fill="clear" class="back-button" routerLink="/home">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>

  <!-- Baru ini untuk center box -->
  <div class="login-container">
    <div class="login-box">
      <form>
        <ion-item>
          <ion-input label="Username/NIK" labelPlacement="floating" placeholder="Masukkan Username/NIK" ></ion-input>
        </ion-item>

        <!-- Tombol -->
        <div class="button-group">
          <ion-button d class="btn-masuk" shape="round" expand="block" type="submit">Kirim Kode Verifikasi</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>