ion-content.background {
    --background: #ffffff;
    position: relative;
    height: 100vh; // 100% tinggi layar 
    overflow: hidden; // Menahan agar tidak nge-scroll
    display: flex;
    flex-direction: column;
    justify-content: center; // Posisi di tengah vertikal
    align-items: center; // Posisi di tengah horizontal
  }
  
  
  .circle {
    position: absolute;
    background-color: #9D94FF;
    border-radius: 50%;
  }
  
  // CSS Circle yang pertama
  .circle1 {
    width: 300px;
    height: 250px;
    top: -50px;
    right: -70px;
  }
  
  .circle1b {
    width: 300px;
    height: 250px;
    bottom: -50px;
    left: -40px;
  }
  
  // CSS Circle yang kedua 
  .circle2 {
    width: 180px;
    height: 180px;
    top: -80px;
    right: 150px;
    background-color: #857AFE;
    position: absolute;
  }
  
  .circle2b {
    width: 180px;
    height: 180px;
    bottom: -80px;
    left: 150px;
    background-color: #857AFE;
    position: absolute;
  }
  
  .login-container {
    height: 100%;
    width: 100%;
    // 100% layar
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #3D3641;
    z-index: 10;
  }
  
  .login-box {
    width: 90%;
    max-width: 400px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    padding-top: 40px;
  }
  
  .login-box ion-item ion-label,
  .login-box ion-item ion-input {
    color: #565656;
    font-weight: bold;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    color: #565656;
  }
  
  
  .password-field {
    position: relative;
  }
  
  .password-field ion-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    color: #b9b9b9;
    cursor: pointer;
  }
  
  .forgot-password {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #666;
    margin-bottom: 20px;
    text-decoration: underline;
  }
  

  .btn-masuk {
    --background: linear-gradient(135deg, #9763F7 75%, #DFD0FB);
    --color: #ffffff;
    flex: 1;
    margin: 0 0.3rem;
    font-weight: 500;
    font-size: 1rem;
    --box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.36);
  }