<ion-content class="android-small">
  <div class="notification-container">
    <div class="notification-header">
      <div class="logo-section">
        <div class="coin-share-payment">
          <img src="assets/img/coin-share-payment-cash-money-finance-receive-give-coin-hand.png" />
        </div>
        <div class="app-title">KOKITA</div>
      </div>
      <div class="user-section">
        <div class="user-name">Halo, John!</div>
        <div class="user-role">Member</div>
      </div>
      <div class="logout-button">
        <div class="rectangle"></div>
        <div class="logout-text">Logout</div>
      </div>
    </div>

    <div class="notification-title">
      <div class="title">Notifikasi kamu!</div>
      <div class="add-bell"></div>
    </div>

    <ion-card class="notification-box">
      <ion-icon class="notification-icon" src="assets/img/send-email-mail-send-email-paper-airplane-5.png"></ion-icon>
      <ion-label class="notification-text">
        Yth. Bapak/Ibu [Nama Anggota], angsuran pinjaman Anda sebesar Rp500.000 akan jatuh tempo pada 30 April 2025.
        Mohon lakukan pembayaran tepat waktu untuk menghindari denda keterlambatan.
      </ion-label>
      <div class="notification-date">28 April 2025 - 9:00:45 WIB</div>
    </ion-card>

    <ion-card class="notification-box warning">
      <ion-icon class="notification-icon" src="assets/img/send-email-mail-send-email-paper-airplane-2.png"></ion-icon>
      <div class="notification-title-text">Peringatan Keterlambatan Pembayaran</div>
      <ion-label class="notification-text">
        Peringatan: Angsuran pinjaman Anda sebesar Rp500.000 telah melewati jatuh tempo sejak 28 Maret 2025. Mohon
        segera lakukan pembayaran untuk menghindari denda tambahan.
      </ion-label>
      <div class="notification-date">29 Maret 2025 - 13:20:39 WIB</div>
    </ion-card>

    <!-- Tambahan notifikasi lainnya bisa dilanjutkan dengan pola yang sama -->
  </div>

  <ion-footer class="bottom-navbar">
    <ion-icon src="assets/img/notification-alarm-2-android-phone-mobile-device-smartphone-iphone-alert-bell-alarm.png"></ion-icon>
    <ion-icon src="assets/img/fastforward-clock-time-clock-reset-stopwatch-circle-measure-loading.png"></ion-icon>
    <ion-icon src="assets/img/icon.svg"></ion-icon>
    <ion-icon src="assets/img/bag-dollar-bag-payment-cash-money-finance.png"></ion-icon>
    <ion-icon src="assets/img/investment-selection.png"></ion-icon>
  </ion-footer>
</ion-content>
