<ion-content class="loans-page" fullscreen>
  <!-- Header -->
  <app-header
    [userName]="'Izumi!'"
    [userRole]="'Collector'"
    [notificationCount]="1"
  ></app-header>

  <!-- Content Section -->
  <div class="content-section">
    <div class="title-bar">
      <h3>Pinjaman</h3>
      <ion-button
        class="btn-ajukan"
        routerLink="/member/loans/loan-application"
        shape="round"
        size="small"
      >
        <ion-icon name="add-circle-outline" slot="start"></ion-icon> Ajukan
        Pinjaman
      </ion-button>
    </div>

    <div class="loan-list">
      <div class="loan-card">
        <div class="loan-item">
          <span class="label primary">Nominal:</span>
          <span class="value primary">Rp500.000</span>
        </div>
        <div class="loan-item">
          <span class="label">Tanggal Pengajuan:</span>
          <span class="value">2 April 2025</span>
        </div>
        <div class="loan-item">
          <span class="label">Tanggal Disetujui:</span>
          <span class="value">2 April 2025</span>
        </div>
        <div class="loan-item">
          <span class="label">Jangka Waktu:</span>
          <span class="value">3 Bulan</span>
        </div>
        <div class="loan-item">
          <span class="label">Status:</span>
          <span
            class="status-badge status-approved"
            routerLink="/member/loans/billing-details"
            >Diterima</span
          >
        </div>
      </div>

      <div class="loan-card">
        <div class="loan-item">
          <span class="label primary">Nominal:</span>
          <span class="value primary">Rp5.000.000</span>
        </div>
        <div class="loan-item">
          <span class="label">Tanggal Pengajuan:</span>
          <span class="value">13 Maret 2025</span>
        </div>
        <div class="loan-item">
          <span class="label">Jangka Waktu:</span>
          <span class="value">3 Bulan</span>
        </div>
        <div class="loan-item">
          <span class="label">Status:</span>
          <span
            class="status-badge status-rejected"
            routerLink="/member/loans/billing-details"
            >Ditolak</span
          >
        </div>
      </div>

      <div class="loan-card">
        <div class="loan-item">
          <span class="label primary">Nominal:</span>
          <span class="value primary">Rp1.000.000</span>
        </div>
        <div class="loan-item">
          <span class="label">Tanggal Pengajuan:</span>
          <span class="value">10 Januari 2025</span>
        </div>
        <div class="loan-item">
          <span class="label">Tanggal Disetujui:</span>
          <span class="value">10 Januari 2025</span>
        </div>
      </div>
    </div>
  </div>

</ion-content>
