.histories-page {
  --ion-background-color: #ffffff;

  .content-section {
    background-color: #ffffff;
    padding: 0 1rem 0;
    position: relative;
    z-index: 1;

    h3 {
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: #646464;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .filter-segment {
      display: flex;
      justify-content: center;

      ion-segment-button {
        font-family: "Lato", sans-serif;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: normal;
        text-transform: capitalize;
        border: 1px solid #565656;
        background-color: #ffffff;
        border-radius: 0;
        margin-bottom: 1rem;
        color: #646464;
        cursor: pointer;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        &.segment-button-checked {
          --color-checked: #646464;
          background-color: #f2ebff;
          border: 1px solid #565656;
          font-weight: 700;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

          ion-label {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }

        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
}

.transaction-scroll {
  flex: 1;
  overflow-y: auto;
  background-color: #f2ebff;
  padding: 1rem;
  padding-top: 0;
  position: absolute;
  top: 250px; // adjust sesuai tinggi header + content-section
  bottom: 30px; // tinggi custom-tabbar
  left: 0;
  right: 0;
}

.transaction-list {
  background-color: #f2ebff;
  padding: 1rem;
  padding-bottom: 1rem;

  .card {
    background: #ffffff;
    border-radius: 15px;
    padding: 0 1rem 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #565656;
  }

  .card-content {
    display: flex;
    justify-content: space-between;
  }

  .card-left {
    flex: 1;
  }

  .card-right {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .date-container {
    margin-top: 5px;

    p {
      margin: 0;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 11px;
      color: #646464;
    }
  }

  .amount-container {
    margin-top: 43px;
  }

  h4 {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: #646464;
  }

  p {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #646464;
  }

  .amount {
    font-size: 15px;
    font-weight: bold;
    color: #646464;
  }

  a {
    font-family: "Lato", sans-serif;
    display: block;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 400;
    font-style: italic;
    color: #3f68ff;
    text-decoration: underline;
  }
}
