<!-- Header -->
<app-header
  [userName]="'Izumi!'"
  [userRole]="'Member'"
  [notificationCount]="1"
></app-header>

<ion-content class="histories-page" fullscreen>
  <div class="content-section">
    <h3>Riwayat Transaksi</h3>
    <ion-segment
      value="semua"
      (ionChange)="filterChanged($event)"
      class="filter-segment"
    >
      <ion-segment-button value="semua">
        <ion-label>Semua</ion-label>
      </ion-segment-button>
      <ion-segment-button value="simpanan">
        <ion-label>Simpanan</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pinjaman">
        <ion-label>Pinjaman</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="transaction-scroll">
    <div class="transaction-list">
      <div class="card">
        <div class="card-content">
          <div class="card-left">
            <h4>Simpanan Wajib:</h4>
            <p>Nominal:</p>
            <div class="date-container">
              <p>1 Mei 2025</p>
            </div>
          </div>
          <div class="card-right">
            <div class="amount-container">
              <p><span class="amount">Rp100.000</span></p>
            </div>
            <a href="member/histories/transaction-details"
              >Lihat detail transaksi</a
            >
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="card-left">
            <h4>Simpanan Wajib:</h4>
            <p>Nominal:</p>
            <div class="date-container">
              <p>1 Mei 2025</p>
            </div>
          </div>
          <div class="card-right">
            <div class="amount-container">
              <p><span class="amount">Rp100.000</span></p>
            </div>
            <a href="member/histories/transaction-details"
              >Lihat detail transaksi</a
            >
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="card-left">
            <h4>Simpanan Wajib:</h4>
            <p>Nominal:</p>
            <div class="date-container">
              <p>1 Mei 2025</p>
            </div>
          </div>
          <div class="card-right">
            <div class="amount-container">
              <p><span class="amount">Rp100.000</span></p>
            </div>
            <a href="member/histories/transaction-details"
              >Lihat detail transaksi</a
            >
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="card-left">
            <h4>Simpanan Wajib:</h4>
            <p>Nominal:</p>
            <div class="date-container">
              <p>1 Mei 2025</p>
            </div>
          </div>
          <div class="card-right">
            <div class="amount-container">
              <p><span class="amount">Rp100.000</span></p>
            </div>
            <a href="histories/transaction-details">Lihat detail transaksi</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
